@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://picsum.photos/3840/2160.webp");
  background-color: oklch(0.141 0.005 285.823);
}

.container {
  min-height: 5rem; /* 96px */
}

.item::-webkit-scrollbar {
  display: none;
}
