@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://source.unsplash.com/random/?grocery");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.container {
  min-height: 300px;
}

.item::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .spinnerContainer {
    margin: 250px auto 0 auto;
    max-width: 30%;
  }
}

@media (max-width: 425px) {
  .container {
    max-width: 90%;
  }

  .spinnerContainer {
    margin: 250px auto 0 auto;
    max-width: 40%;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 95%;
  }

  .app-header {
    font-size: 20px;
  }

  .spinnerContainer {
    margin: 250px auto 0 auto;
    max-width: 45%;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 95%;
  }

  .app-header {
    font-size: 18px;
  }

  .spinnerContainer {
    margin: 250px auto 0 auto;
    max-width: 50%;
  }
}
